


h1,h2,h3,h4,h5,a{color:white;}


/* navigacija */

.navigationMain
{
background-color: darkred;
}


.navigation{
    font-family: Garamond;
    color: white;
}

.navigation > li > a> span{
    font-family: Garamond;
    color: white;
    font-weight: bold;
    
}

/* navigacija */


/* slider */


/*
.movies_slider_frontpage
{
    background-color: white;
    height: 280px;
}

.movies_slider{
    background-color: white;
    height: 280px;
   
}
 


.swiper-slide{
   
    width: 150px;
    height: 200px;
    margin-top: 1%;
}
 
*/

.img_box{
    max-height: 100%;
    max-width: 100%; 
    opacity: 1;
    }

.img_box:hover
{
    opacity: 0.6;
}


   
/* slider */


/* if screen size is bigger than 500 px */
@media only screen and (min-device-width: 500px) {
.movies_slider_frontpage
{
    height: 300px;
    background-color:#141413;
}
}

@media only screen and (max-device-width: 500px) {
    .movies_slider_frontpage
    {
        height: 250px;
        background-color:#141413;
    }
}


@media only screen and (min-device-width: 500px) {
    .movies_slider
    {
        height: 300px;
        background-color: #141413; 
    }
    }
    
    @media only screen and (max-device-width: 500px) {
        .movies_slider
        {
            height: 250px;
            background-color: #141413; 
        }
    }


.swiper-slide
{
    width: fit-content;
}

.img_box{
    width: 100%;
    height: 80%;
   
}

@media only screen and (min-device-width: 500px) {
.img_box > a > img
{
 
    height: 200px;
    width: 100%;
    background-size: 100% 100%;
    object-fit: scale-down;
    margin-top: 15px;
   
}
}

@media only screen and (max-device-width: 500px) {
    .img_box > a > img
    {
     
        height: 100px;
        width: 100%;
        background-size: 100% 100%;
        object-fit: scale-down;
       
    }
    }

    .img_box > a > p 
    {
        display: inline;
    }


   /* slider */ 


.single-hr
{
    border-top: 1px solid red;
}

.searchwp-live-search-result >p>a
{
    color:black;
}


.rewardHR
{
    border-top: 1px solid white;
}
