


h1,h2,h3,h4,h5,a{color:white;font-family: Garamond;}

td {font-family: Garamond;}


/* navigacija */

.navigationMain
{
background-color: darkred;
}


.navigation{
    font-family: Garamond;
    color: white;
}

.navigation > li > a> span{
    font-family: Garamond;
    color: white;
    font-weight: bold;
    
}

/* navigacija */


/* slider */


.img_box{
    max-height: 100%;
    max-width: 100%; 
    opacity: 1;
    }

.img_box:hover
{
    opacity: 0.6;
}


   
/* slider */


/* if screen size is bigger than 500 px */
@media only screen and (min-device-width: 600px) {
.movies_slider_frontpage
{
    height: 310px; 
    background-color:#141413;
}

.img_box > a > p
{
   font-size: 20px;
}

 .swiper-slide
 {
    height: 270px; 
 }

}

@media only screen and (max-device-width: 600px) {
    .movies_slider_frontpage
    {
        height: 260px; 
        background-color:#141413;
    }
    .img_box > a > p
{
   font-size: 15px;
}

.swiper-slide
{
   height: 220px; 
}


}


@media only screen and (min-device-width: 600px) {
    .movies_slider
    {
        height: 310px; 
        background-color: #141413; 
    }

    .img_box > a > p
{
   font-size: 20px;
}

 .swiper-slide
 {
    height: 270px; 
 }

    }
    
    @media only screen and (max-device-width: 600px) {
        .movies_slider
        {
            height: 260px;
            background-color: #141413; 
        }
        .img_box > a > p
        {
            font-size: 15px;
         }
         
         .swiper-slide
         {
            height: 220px; 
         }
    }

.swiper-slide
{
    width: fit-content; 
}

.img_box{
    width: 100%;
    height: 80%;
   
}

@media only screen and (min-device-width: 600px) {
.img_box > a > img
{
    height: 200px;
    width: 100%;
    background-size: 100% 100%;
    object-fit: scale-down;
    margin-top: 15px;
}
}

@media only screen and (max-device-width: 600px) {
    .img_box > a > img
    {
     
        height: 100px;
        width: 100%;
        background-size: 100% 100%;
        object-fit: scale-down;
       
    }
    }

    .img_box > a > p 
    {
        display: inline;
    }


    .swiper-pagination-bullet {
        background-color: white !important;
   }

    .swiper-pagination-bullet-active {
        background-color: red !important;
   }


   /* slider */ 


.single-hr
{
    border-top: 1px solid white;
}

.searchwp-live-search-result >p>a
{
    color:black;
}


.rewardHR
{
    border-top: 1px solid white;
}

.hrColor
{
    border-top: 1px solid white;
}



/* Css za velicine slike u archive i tamo gdje je prikaz filma po row klasi */

@media only screen and (min-device-width: 600px) {
    .archive-img
    {
        height: 300px;
        width: 200px;
    }
    }


    @media only screen and (max-device-width: 600px) {
        .archive-img
        {
            height: 100px;
            width: 50px;
        }
        .archive-title
        {
            font-size: 15px;
        }
        }

    /* Css za velicine slike u archive i tamo gdje je prikaz filma po row klasi */


    /* forma pretrage css */

    @media only screen and (max-device-width: 600px) {


        .form-margin > select
        {
        margin-bottom: 2px;
        }
        .form-margin > input
        {
        margin-bottom: 2px;
        }
    }
    
       /* forma pretrage css */


